html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #333B41;
}

section {
    display: flex;
}

h1 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 19.0145px;
    line-height: 120%;
    text-align: center;
    color: #FFFFFF;
}

h2 {
    font-weight: 400;
    font-size: 48px;
    line-height: 120%;
}

h3 {
    font-weight: 400;
    font-size: 36px;
    line-height: 130%;
    text-align: center;
}

.subtitle {
    font-size: 24px;
    line-height: 120%;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

p {
    margin: 0;
}

.button {
    width: 298px;
    height: 54px;
    color: #FFFFFF;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    text-transform: uppercase;
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    border: none;
    border-radius: 25px;
}

.button:hover {
    background: #E47209;
}

.button:active {
    background: #4B9200;
}


/*wrapper start*/

.wrapper {
    width: 1160px;
    height: 100%;
    margin: 0 auto;
}


/*wrapper end*/


/*header start*/

header {
    position: relative;
    display: flex;
    height: 80px;
    color: #FFFFFF;
    background-color: #000000;
    margin-bottom: -80px;
    z-index: 10;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.logo-and-nav {
    display: flex;
    gap: 63px;
}

.logo {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 82px;
    height: 52px;
    text-align: center;
    border: 1px solid #FFFFFF;
    border-radius: 2px;
}

.logo-text {
    position: relative;
    font-size: 19.0145px;
    line-height: 120%;
}

.logo-bamboo {
    position: absolute;
    top: 45%;
    left: 12.5%;
    width: 20px;
    height: 20.98px;
    background-image: url(../../assets/icons/bamboo.svg);
    background-repeat: no-repeat;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 472px;
    font-weight: 500;
}

.underline-one {
    color: #fdfdfd;
    /* Цвет обычной ссылки */
    position: relative;
    cursor: pointer;
    text-decoration: none;
    /* Убираем подчеркивание */
}

.underline-one:after {
    content: "";
    display: block;
    position: absolute;
    right: 0;
    bottom: -3px;
    width: 0;
    height: 2px;
    /* Высота линии */
    background-color: #FE9013;
    /* Цвет подчеркивания при исчезании линии*/
    transition: width 0.5s;
    /* Время эффекта */
}

.underline-one:hover:after {
    content: "";
    width: 100%;
    display: block;
    position: absolute;
    left: 0;
    bottom: -3px;
    height: 2px;
    /* Высота линии */
    background-color: #FE9013;
    /* Цвет подчеркивания при появлении линии*/
    transition: width 0.5s;
    /* Время эффекта */
}

.active-page {
    background-image: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-weight: bolder;
}

.nav-item .active-page a {
    text-decoration: none;
    user-select: none;
    cursor: default;
    pointer-events: none;
}

.designed-text {
    font-weight: 500;
}


/*header end*/

.watch-animal {
    height: 390px;
    background-image: url(../../assets/images/Giant\ Panda.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


/*footer start*/

footer {
    padding: 40px 0 50px 0;
    background-color: #111115;
    z-index: 10;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    color: #FFFFFF;
}

.footer-logo-and-donate-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 68px;
    width: 50%;
}

.footer-donate-button {
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    border-radius: 5px;
}

.footer-subscribe-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 14px;
    width: 50%;
}

.footer-subscribe-container .subtitle {
    padding-right: 130px;
}

.footer-subscribe-form {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.footer-email {
    box-sizing: border-box;
    width: 228px;
    height: 42px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    padding: 10px 7px 10px 10px;
    color: #BDBDBD;
    background-color: transparent;
    border: 0.7px solid #FE9013;
    border-radius: 2px;
}

.footer-email-button {
    box-sizing: border-box;
    width: 129px;
    height: 42px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    background: #F1F3F2;
    border-radius: 5px;
    cursor: pointer;
}

.footer-email-button:hover {
    transform: scale(1.05);
}

.footer-email-button:active {
    transform: scale(1);
    color: #4B9200;
    border: 1px solid #4B9200;
}

input:focus {
    outline: none;
}

form:invalid input[type="email"]:focus {
    color: #D31414;
}

form:valid input[type="email"]:focus {
    color: #4B9200;
}

input[type="email"]:default {
    border: 0.7px solid #FE9013;
    ;
}

input[type="email"]:focus:invalid {
    border: 0.7px solid #D31414;
}

input[type="email"]:focus:valid {
    border: 0.7px solid #4B9200;
}

form:invalid .footer-email-button {
    color: #D31414;
    border: 1px solid #D31414;
}

form:valid .footer-email-button {
    color: #333B41;
    border: 1px solid #333B41;
}

form:valid .footer-email-button:active {
    transform: scale(1);
    color: #4B9200;
    border: 1px solid #4B9200;
}

.footer-socials-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 228px;
    padding-top: 44px;
}

.footer-socials-item a {
    margin: 0;
    display: flex;
    gap: 12px;
    align-items: center;
}

.socials-item-icon {
    width: 26px;
    height: 26px;
    background-color: rgba(196, 196, 196, 0.5);
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
}

.footer-socials-item:hover {
    color: #E47209;
}

.footer-socials-item:active {
    color: #4B9200;
}

.footer-socials-item:hover .socials-item-icon {
    transform: scale(1.05);
    background-color: #E47209;
}

.footer-socials-item:active .socials-item-icon {
    transform: scale(1);
    background-color: #4B9200;
}

.icon-facebook {
    background-image: url(../../assets/icons/Fill\ 211.svg);
}

.icon-twitter {
    background-image: url(../../assets/icons/Fill\ 172.svg);
}

.icon-instagram {
    background-image: url(../../assets/icons/Fill\ 166.svg);
}

.icon-youtube {
    background-image: url(../../assets/icons/Fill\ 213.svg);
}

.footer-nav {
    justify-content: center;
    align-items: flex-end;
    gap: 58px;
    width: 42%;
    font-weight: 400;
    color: #FFFFFF;
}

.footer-designed-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 10px;
    font-weight: 100;
    line-height: 130%;
    text-underline-offset: 7px;
}

.footer-designed-container:hover {
    text-decoration: underline;
    text-decoration-color: #FE9013;
}

.footer-designed-container:active {
    color: #4B9200;
    text-decoration-color: #4B9200;
    text-decoration: underline;
}


/*footer end*/