html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #333B41;
}

section {
    display: flex;
}

h1 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 19.0145px;
    line-height: 120%;
    text-align: center;
    color: #FFFFFF;
}

h2 {
    font-weight: 400;
    font-size: 48px;
    line-height: 120%;
    margin-top: 0;
    margin-bottom: 20px;
}

h3 {
    font-weight: 400;
    font-size: 36px;
    line-height: 130%;
    text-align: center;
}

.subtitle {
    font-size: 24px;
    line-height: 120%;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.button {
    width: 298px;
    height: 54px;
    color: #FFFFFF;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    text-transform: uppercase;
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    border: none;
    border-radius: 25px;
}

.button:hover {
    background: #E47209;
}

.button:active {
    background: #4B9200;
}

p {
    margin: 0;
}


/*wrapper start*/

.wrapper {
    width: 1160px;
    height: 100%;
    margin: 0 auto;
}


/*wrapper end*/


/*header start*/

header {
    position: relative;
    display: flex;
    height: 80px;
    color: #FFFFFF;
    background-color: #000000;
    margin-bottom: -80px;
    z-index: 10;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.logo-and-nav {
    display: flex;
    gap: 63px;
}

.logo {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 82px;
    height: 52px;
    text-align: center;
    border: 1px solid #FFFFFF;
    border-radius: 2px;
}

.logo-text {
    position: relative;
    font-size: 19.0145px;
    line-height: 120%;
}

.logo-bamboo {
    position: absolute;
    top: 45%;
    left: 12.5%;
    width: 20px;
    height: 20.98px;
    background-image: url(../../assets/icons/bamboo.svg);
    background-repeat: no-repeat;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 472px;
    font-weight: 500;
}

.underline-one {
    color: #fdfdfd;
    /* Цвет обычной ссылки */
    position: relative;
    cursor: pointer;
    text-decoration: none;
    /* Убираем подчеркивание */
}

.underline-one:after {
    content: "";
    display: block;
    position: absolute;
    right: 0;
    bottom: -3px;
    width: 0;
    height: 2px;
    /* Высота линии */
    background-color: #FE9013;
    /* Цвет подчеркивания при исчезании линии*/
    transition: width 0.5s;
    /* Время эффекта */
}

.underline-one:hover:after {
    content: "";
    width: 100%;
    display: block;
    position: absolute;
    left: 0;
    bottom: -3px;
    height: 2px;
    /* Высота линии */
    background-color: #FE9013;
    /* Цвет подчеркивания при появлении линии*/
    transition: width 0.5s;
    /* Время эффекта */
}

.active-page {
    background-image: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-weight: bolder;
}

.nav-item .active-page a {
    text-decoration: none;
    user-select: none;
    cursor: default;
    pointer-events: none;
}

.designed-text {
    font-weight: 500;
}


/*header end*/


/*whatch_animal start*/

.watch-animal {
    height: 780px;
    background-image: url(../../assets/images/Giant\ Panda.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.watch-animal-container {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    height: 100%;
}

.watch-animal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
    width: 500px;
    padding-bottom: 100px;
}

.watch-animal-text {
    width: 500.31px;
    height: 400px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 106.496px;
    line-height: 75%;
    color: #FFFFFF;
    text-align: center;
    text-transform: uppercase;
    z-index: 2;
}

.watch-animal-ellipse {
    content: '';
    position: absolute;
    top: -74px;
    left: -73px;
    width: 465px;
    height: 465px;
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    border-radius: 50%;
    z-index: 1;
}

.yellow-text {
    color: #FFEE2E;
}

.watch-animal-button {
    align-self: center;
}


/*whatch_animal end*/


/*backstage start*/

.backstage {
    padding-top: 140px;
    padding-bottom: 90px;
    background-image: url(../../assets/images/flower_foto1.png);
    background-position: center right 0;
    ;
    background-repeat: no-repeat;
}

.backstage-container {
    display: flex;
    align-items: center;
    gap: 86px;
}

.backstage-img {
    min-width: 609px;
    height: 403px;
    background: url(../../assets/images/bamboo-cap.jpg);
    backdrop-filter: blur(2px);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.backstage-container-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
}

.backstage-text .subtitle {
    display: block;
    margin-top: 55px;
    margin-bottom: 33px;
}


/*backstage end*/


/*pets start*/

.pets {
    padding-top: 78px;
    padding-bottom: 100px;
    background: url(../../assets/images/palm_foto.png) bottom left 0 no-repeat, url(../../assets/images/strelitzia\ 1.png) bottom right 0 no-repeat;
}

.pets-container {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 80px;
}

.cards-container-buttons {
    position: absolute;
    top: 402px;
    left: -81px;
    display: flex;
    justify-content: space-between;
    width: 1322px;
}

.cards-btn-left,
.cards-btn-right {
    width: 62px;
    height: 62px;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    border-radius: 50%;
}

.cards-btn-left {
    background-image: url(../../assets/icons/left.svg), linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
}

.cards-btn-right {
    background-image: url(../../assets/icons/right.svg), linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
}

.cards-btn-left:hover {
    transform: scale(1.05);
}

.cards-btn-right:hover {
    transform: scale(1.05);
}

.cards-btn-left:active {
    background-image: url(../../assets/icons/left.svg), linear-gradient(113.96deg, #4B9200 1.49%, #4B9200 101.44%);
    transform: scale(1);
}

.cards-btn-right:active {
    background-image: url(../../assets/icons/right.svg), linear-gradient(113.96deg, #4B9200 1.49%, #4B9200 101.44%);
    transform: scale(1);
}

.pets-slider {
    justify-content: center;
}

.cards-container {
    /* padding-top: 50px;
    padding-bottom: 50px; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 30px 20px;
}

.pet-card {
    overflow: hidden;
    position: relative;
    /*box-sizing: border-box; */
    display: flex;
    flex-direction: column;
    width: 366px;
    height: 426px;
    background-color: #FFFFFF;
    border: 1px solid #FE9013;
    border-radius: 5px;
    transition: 0.3s;
}

.pet-card::before {
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    width: 100%;
    height: 364px;
    background-color: rgba(0, 0, 0, 5);
    z-index: 100;
    opacity: 0;
    transition: 0.5s;
}

.pet-img {
    width: 100%;
    height: 368px;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    transition: 0.5s;
}

.pet-card:hover {
    background-color: #FE9013;
}

.pet-card:hover .pet-img {
    background-size: 105.4%;
}

.pet-card:hover::before {
    opacity: 0.5;
}

.pet1-img {
    background-image: url(../../assets/images/Rectangle\ 5.png);
}

.pet2-img {
    background-image: url(../../assets/images/Rectangle\ 5\ \(1\).png);
}

.pet3-img {
    background-image: url(../../assets/images/Rectangle\ 5\ \(2\).png);
}

.pet4-img {
    background-image: url(../../assets/images/Rectangle\ 5\ \(3\).png);
}

.pet5-img {
    background-image: url(../../assets/images/Rectangle\ 5\ \(4\).png);
}

.pet6-img {
    background-image: url(../../assets/images//Rectangle\ 5\ \(5\).png);
}

.pet-description-container {
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 0 8px 0 16px;
    transition: 1s;
}

.pet-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.pet-name {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    text-transform: uppercase;
    color: #000000;
}

.pet-areal {
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 100%;
}

.pet-food-logo {
    width: 48px;
    height: 38px;
    background-position: top right;
    background-repeat: no-repeat;
    opacity: 1;
    transition: 0.1s;
}

.food-fruit {
    background-image: url(../../assets/icons/banana-bamboo_icon.svg);
}

.food-meat {
    background-image: url(../../assets/icons/meet-fish_icon.svg);
    margin-top: -6px;
}

.pet-card:hover .pet-description-container {
    top: -80px;
    color: #FFFFFF;
    z-index: 200;
}

.pet-card:hover .pet-name {
    color: #FFFFFF;
}

.pet-card:hover .pet-food-logo {
    opacity: 0;
}

.choose-favorite-button {
    align-self: center;
}


/*pets end*/


/*footer start*/

footer {
    padding: 40px 0 50px 0;
    background-color: #111115;
    z-index: 10;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    color: #FFFFFF;
}

.footer-logo-and-donate-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 68px;
    width: 50%;
}

.footer-donate-button {
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    border-radius: 5px;
}

.footer-subscribe-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 14px;
    width: 50%;
}

.footer-subscribe-container .subtitle {
    padding-right: 130px;
}

.footer-subscribe-form {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.footer-email {
    box-sizing: border-box;
    width: 228px;
    height: 42px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    padding: 10px 7px 10px 10px;
    color: #BDBDBD;
    background-color: transparent;
    border: 0.7px solid #FE9013;
    border-radius: 2px;
}

.footer-email-button {
    box-sizing: border-box;
    width: 129px;
    height: 42px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    background: #F1F3F2;
    border-radius: 5px;
    cursor: pointer;
}

.footer-email-button:hover {
    transform: scale(1.05);
}

.footer-email-button:active {
    transform: scale(1);
    color: #4B9200;
    border: 1px solid #4B9200;
}

input:focus {
    outline: none;
}

form:invalid input[type="email"]:focus {
    color: #D31414;
}

form:valid input[type="email"]:focus {
    color: #4B9200;
}

input[type="email"]:default {
    border: 0.7px solid #FE9013;
    ;
}

input[type="email"]:focus:invalid {
    border: 0.7px solid #D31414;
}

input[type="email"]:focus:valid {
    border: 0.7px solid #4B9200;
}

form:invalid .footer-email-button {
    color: #D31414;
    border: 1px solid #D31414;
}

form:valid .footer-email-button {
    color: #333B41;
    border: 1px solid #333B41;
}

form:valid .footer-email-button:active {
    transform: scale(1);
    color: #4B9200;
    border: 1px solid #4B9200;
}

.footer-socials-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 228px;
    padding-top: 44px;
}

.footer-socials-item a {
    margin: 0;
    display: flex;
    gap: 12px;
    align-items: center;
}

.socials-item-icon {
    width: 26px;
    height: 26px;
    background-color: rgba(196, 196, 196, 0.5);
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
}

.footer-socials-item:hover {
    color: #E47209;
}

.footer-socials-item:active {
    color: #4B9200;
}

.footer-socials-item:hover .socials-item-icon {
    transform: scale(1.05);
    background-color: #E47209;
}

.footer-socials-item:active .socials-item-icon {
    transform: scale(1);
    background-color: #4B9200;
}

.icon-facebook {
    background-image: url(../../assets/icons/Fill\ 211.svg);
}

.icon-twitter {
    background-image: url(../../assets/icons/Fill\ 172.svg);
}

.icon-instagram {
    background-image: url(../../assets/icons/Fill\ 166.svg);
}

.icon-youtube {
    background-image: url(../../assets/icons/Fill\ 213.svg);
}

.footer-nav {
    justify-content: center;
    align-items: flex-end;
    gap: 58px;
    width: 42%;
    font-weight: 400;
    color: #FFFFFF;
}

.footer-designed-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 10px;
    font-weight: 100;
    line-height: 130%;
    text-underline-offset: 7px;
}

.footer-designed-container:hover {
    text-decoration: underline;
    text-decoration-color: #FE9013;
}

.footer-designed-container:active {
    color: #4B9200;
    text-decoration-color: #4B9200;
    text-decoration: underline;
}


/*footer end*/